:root {
  --minor-second     : 1.067;
  --major-second     : 1.125;
  --minor-third      : 1.2;
  --major-third      : 1.25;
  --fourth           : 1.333;
  --augmented-fourth : 1.414;
  --fifth            : 1.5;
  --minor-sixth      : 1.6;
	--golden           : 1.618;
  --phi              : 1.618;
  --major-sixth      : 1.667;
  --minor-seventh    : 1.778;
	--major-seventh    : 1.875;
	--octave           : 2;
  --major-tenth      : 2.5;
  --major-eleventh   : 2.667;
  --major-twelfth    : 3;
  --double-octave    : 4;

  /**
   * Standard scale
   * @description moving up the scale
   */
	--ms0   : var(--ms-base, 1em);
	--ms1   : calc(var(--ms-ratio, var(--golden)) * var(--ms0));
	--ms2   : calc(var(--ms-ratio, var(--golden)) * var(--ms1));
	--ms3   : calc(var(--ms-ratio, var(--golden)) * var(--ms2));
	--ms4   : calc(var(--ms-ratio, var(--golden)) * var(--ms3));
	--ms5   : calc(var(--ms-ratio, var(--golden)) * var(--ms4));
	--ms6   : calc(var(--ms-ratio, var(--golden)) * var(--ms5));
	--ms7   : calc(var(--ms-ratio, var(--golden)) * var(--ms6));
	--ms8   : calc(var(--ms-ratio, var(--golden)) * var(--ms7));
	--ms9   : calc(var(--ms-ratio, var(--golden)) * var(--ms8));
	--ms10  : calc(var(--ms-ratio, var(--golden)) * var(--ms9));
	--ms11  : calc(var(--ms-ratio, var(--golden)) * var(--ms10));
	--ms12  : calc(var(--ms-ratio, var(--golden)) * var(--ms11));
	--ms13  : calc(var(--ms-ratio, var(--golden)) * var(--ms12));
	--ms14  : calc(var(--ms-ratio, var(--golden)) * var(--ms13));
	--ms15  : calc(var(--ms-ratio, var(--golden)) * var(--ms14));
	--ms16  : calc(var(--ms-ratio, var(--golden)) * var(--ms15));
  /* moving down the scale */
	--ms-1  : calc(var(--ms0) / var(--ms-ratio, var(--golden)));
	--ms-2  : calc(var(--ms-1) / var(--ms-ratio, var(--golden)));
	--ms-3  : calc(var(--ms-2) / var(--ms-ratio, var(--golden)));
	--ms-4  : calc(var(--ms-3) / var(--ms-ratio, var(--golden)));
	--ms-5  : calc(var(--ms-4) / var(--ms-ratio, var(--golden)));
	--ms-6  : calc(var(--ms-5) / var(--ms-ratio, var(--golden)));
	--ms-7  : calc(var(--ms-6) / var(--ms-ratio, var(--golden)));
	--ms-8  : calc(var(--ms-7) / var(--ms-ratio, var(--golden)));
	--ms-9  : calc(var(--ms-8) / var(--ms-ratio, var(--golden)));
	--ms-10 : calc(var(--ms-9) / var(--ms-ratio, var(--golden)));
  /**
   * Scale A (= Standard scale)
   * @description moving up the scale
   */
  --msa0   : var(--ms-base-a, 1em);
  --msa1   : calc(var(--ms-ratio, var(--golden)) * var(--msa0));
  --msa2   : calc(var(--ms-ratio, var(--golden)) * var(--msa1));
  --msa3   : calc(var(--ms-ratio, var(--golden)) * var(--msa2));
  --msa4   : calc(var(--ms-ratio, var(--golden)) * var(--msa3));
  --msa5   : calc(var(--ms-ratio, var(--golden)) * var(--msa4));
  --msa6   : calc(var(--ms-ratio, var(--golden)) * var(--msa5));
  --msa7   : calc(var(--ms-ratio, var(--golden)) * var(--msa6));
  --msa8   : calc(var(--ms-ratio, var(--golden)) * var(--msa7));
  --msa9   : calc(var(--ms-ratio, var(--golden)) * var(--msa8));
  --msa10  : calc(var(--ms-ratio, var(--golden)) * var(--msa9));
  --msa11  : calc(var(--ms-ratio, var(--golden)) * var(--msa10));
  --msa12  : calc(var(--ms-ratio, var(--golden)) * var(--msa11));
  --msa13  : calc(var(--ms-ratio, var(--golden)) * var(--msa12));
  --msa14  : calc(var(--ms-ratio, var(--golden)) * var(--msa13));
  --msa15  : calc(var(--ms-ratio, var(--golden)) * var(--msa14));
  --msa16  : calc(var(--ms-ratio, var(--golden)) * var(--msa15));
  /* moving down the scale */
  --msa-1  : calc(var(--msa0) / var(--ms-ratio, var(--golden)));
  --msa-2  : calc(var(--msa-1) / var(--ms-ratio, var(--golden)));
  --msa-3  : calc(var(--msa-2) / var(--ms-ratio, var(--golden)));
  --msa-4  : calc(var(--msa-3) / var(--ms-ratio, var(--golden)));
  --msa-5  : calc(var(--msa-4) / var(--ms-ratio, var(--golden)));
  --msa-6  : calc(var(--msa-5) / var(--ms-ratio, var(--golden)));
  --msa-7  : calc(var(--msa-6) / var(--ms-ratio, var(--golden)));
  --msa-8  : calc(var(--msa-7) / var(--ms-ratio, var(--golden)));
  --msa-9  : calc(var(--msa-8) / var(--ms-ratio, var(--golden)));
  --msa-10 : calc(var(--msa-9) / var(--ms-ratio, var(--golden)));
  /**
   * Scale B (= Standard scale)
   * @description moving up the scale
   */
  --msb0   : var(--ms-base-b, 2.25em);
  --msb1   : calc(var(--ms-ratio, var(--golden)) * var(--msb0));
  --msb2   : calc(var(--ms-ratio, var(--golden)) * var(--msb1));
  --msb3   : calc(var(--ms-ratio, var(--golden)) * var(--msb2));
  --msb4   : calc(var(--ms-ratio, var(--golden)) * var(--msb3));
  --msb5   : calc(var(--ms-ratio, var(--golden)) * var(--msb4));
  --msb6   : calc(var(--ms-ratio, var(--golden)) * var(--msb5));
  --msb7   : calc(var(--ms-ratio, var(--golden)) * var(--msb6));
  --msb8   : calc(var(--ms-ratio, var(--golden)) * var(--msb7));
  --msb9   : calc(var(--ms-ratio, var(--golden)) * var(--msb8));
  --msb10  : calc(var(--ms-ratio, var(--golden)) * var(--msb9));
  --msb11  : calc(var(--ms-ratio, var(--golden)) * var(--msb10));
  --msb12  : calc(var(--ms-ratio, var(--golden)) * var(--msb11));
  --msb13  : calc(var(--ms-ratio, var(--golden)) * var(--msb12));
  --msb14  : calc(var(--ms-ratio, var(--golden)) * var(--msb13));
  --msb15  : calc(var(--ms-ratio, var(--golden)) * var(--msb14));
  --msb16  : calc(var(--ms-ratio, var(--golden)) * var(--msb15));
  /* moving down the scale */
  --msb-1  : calc(var(--msb0) / var(--ms-ratio, var(--golden)));
  --msb-2  : calc(var(--msb-1) / var(--ms-ratio, var(--golden)));
  --msb-3  : calc(var(--msb-2) / var(--ms-ratio, var(--golden)));
  --msb-4  : calc(var(--msb-3) / var(--ms-ratio, var(--golden)));
  --msb-5  : calc(var(--msb-4) / var(--ms-ratio, var(--golden)));
  --msb-6  : calc(var(--msb-5) / var(--ms-ratio, var(--golden)));
  --msb-7  : calc(var(--msb-6) / var(--ms-ratio, var(--golden)));
  --msb-8  : calc(var(--msb-7) / var(--ms-ratio, var(--golden)));
  --msb-9  : calc(var(--msb-8) / var(--ms-ratio, var(--golden)));
  --msb-10 : calc(var(--msb-9) / var(--ms-ratio, var(--golden)));
}
