:root {
  --minor-second     : 1.067;
  --major-second     : 1.125;
  --minor-third      : 1.2;
  --major-third      : 1.25;
  --fourth           : 1.333;
  --augmented-fourth : 1.414;
  --fifth            : 1.5;
  --minor-sixth      : 1.6;
  --golden           : 1.618;
  --phi              : 1.618;
  --major-sixth      : 1.667;
  --minor-seventh    : 1.778;
  --major-seventh    : 1.875;
  --octave           : 2;
  --major-tenth      : 2.5;
  --major-eleventh   : 2.667;
  --major-twelfth    : 3;
  --double-octave    : 4;

  /**
   * Standard scale
   * @description moving up the scale
   */
  --ms0   : var(--ms-base, 1em);
  --ms1   : calc(var(--ms-ratio, var(--golden)) * var(--ms0));
  --ms2   : calc(var(--ms-ratio, var(--golden)) * var(--ms1));
  --ms3   : calc(var(--ms-ratio, var(--golden)) * var(--ms2));
  --ms4   : calc(var(--ms-ratio, var(--golden)) * var(--ms3));
  --ms5   : calc(var(--ms-ratio, var(--golden)) * var(--ms4));
  --ms6   : calc(var(--ms-ratio, var(--golden)) * var(--ms5));
  --ms7   : calc(var(--ms-ratio, var(--golden)) * var(--ms6));
  --ms8   : calc(var(--ms-ratio, var(--golden)) * var(--ms7));
  --ms9   : calc(var(--ms-ratio, var(--golden)) * var(--ms8));
  --ms10  : calc(var(--ms-ratio, var(--golden)) * var(--ms9));
  --ms11  : calc(var(--ms-ratio, var(--golden)) * var(--ms10));
  --ms12  : calc(var(--ms-ratio, var(--golden)) * var(--ms11));
  --ms13  : calc(var(--ms-ratio, var(--golden)) * var(--ms12));
  --ms14  : calc(var(--ms-ratio, var(--golden)) * var(--ms13));
  --ms15  : calc(var(--ms-ratio, var(--golden)) * var(--ms14));
  --ms16  : calc(var(--ms-ratio, var(--golden)) * var(--ms15));
  /* moving down the scale */
  --ms-1  : calc(var(--ms0) / var(--ms-ratio, var(--golden)));
  --ms-2  : calc(var(--ms-1) / var(--ms-ratio, var(--golden)));
  --ms-3  : calc(var(--ms-2) / var(--ms-ratio, var(--golden)));
  --ms-4  : calc(var(--ms-3) / var(--ms-ratio, var(--golden)));
  --ms-5  : calc(var(--ms-4) / var(--ms-ratio, var(--golden)));
  --ms-6  : calc(var(--ms-5) / var(--ms-ratio, var(--golden)));
  --ms-7  : calc(var(--ms-6) / var(--ms-ratio, var(--golden)));
  --ms-8  : calc(var(--ms-7) / var(--ms-ratio, var(--golden)));
  --ms-9  : calc(var(--ms-8) / var(--ms-ratio, var(--golden)));
  --ms-10 : calc(var(--ms-9) / var(--ms-ratio, var(--golden)));
  /**
   * Scale A (= Standard scale)
   * @description moving up the scale
   */
  --ms_a0   : var(--ms-base-a, 1em);
  --ms_a1   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a0));
  --ms_a2   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a1));
  --ms_a3   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a2));
  --ms_a4   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a3));
  --ms_a5   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a4));
  --ms_a6   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a5));
  --ms_a7   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a6));
  --ms_a8   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a7));
  --ms_a9   : calc(var(--ms-ratio, var(--golden)) * var(--ms_a8));
  --ms_a10  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a9));
  --ms_a11  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a10));
  --ms_a12  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a11));
  --ms_a13  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a12));
  --ms_a14  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a13));
  --ms_a15  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a14));
  --ms_a16  : calc(var(--ms-ratio, var(--golden)) * var(--ms_a15));
  /* moving down the scale */
  --ms_a-1  : calc(var(--ms_a0) / var(--ms-ratio, var(--golden)));
  --ms_a-2  : calc(var(--ms_a-1) / var(--ms-ratio, var(--golden)));
  --ms_a-3  : calc(var(--ms_a-2) / var(--ms-ratio, var(--golden)));
  --ms_a-4  : calc(var(--ms_a-3) / var(--ms-ratio, var(--golden)));
  --ms_a-5  : calc(var(--ms_a-4) / var(--ms-ratio, var(--golden)));
  --ms_a-6  : calc(var(--ms_a-5) / var(--ms-ratio, var(--golden)));
  --ms_a-7  : calc(var(--ms_a-6) / var(--ms-ratio, var(--golden)));
  --ms_a-8  : calc(var(--ms_a-7) / var(--ms-ratio, var(--golden)));
  --ms_a-9  : calc(var(--ms_a-8) / var(--ms-ratio, var(--golden)));
  --ms_a-10 : calc(var(--ms_a-9) / var(--ms-ratio, var(--golden)));
  /**
   * Scale B (= Standard scale)
   * @description moving up the scale
   */
  --ms_b0   : var(--ms-base-b, 2.25em);
  --ms_b1   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b0));
  --ms_b2   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b1));
  --ms_b3   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b2));
  --ms_b4   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b3));
  --ms_b5   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b4));
  --ms_b6   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b5));
  --ms_b7   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b6));
  --ms_b8   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b7));
  --ms_b9   : calc(var(--ms-ratio, var(--golden)) * var(--ms_b8));
  --ms_b10  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b9));
  --ms_b11  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b10));
  --ms_b12  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b11));
  --ms_b13  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b12));
  --ms_b14  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b13));
  --ms_b15  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b14));
  --ms_b16  : calc(var(--ms-ratio, var(--golden)) * var(--ms_b15));
  /* moving down the scale */
  --ms_b-1  : calc(var(--ms_b0) / var(--ms-ratio, var(--golden)));
  --ms_b-2  : calc(var(--ms_b-1) / var(--ms-ratio, var(--golden)));
  --ms_b-3  : calc(var(--ms_b-2) / var(--ms-ratio, var(--golden)));
  --ms_b-4  : calc(var(--ms_b-3) / var(--ms-ratio, var(--golden)));
  --ms_b-5  : calc(var(--ms_b-4) / var(--ms-ratio, var(--golden)));
  --ms_b-6  : calc(var(--ms_b-5) / var(--ms-ratio, var(--golden)));
  --ms_b-7  : calc(var(--ms_b-6) / var(--ms-ratio, var(--golden)));
  --ms_b-8  : calc(var(--ms_b-7) / var(--ms-ratio, var(--golden)));
  --ms_b-9  : calc(var(--ms_b-8) / var(--ms-ratio, var(--golden)));
  --ms_b-10 : calc(var(--ms_b-9) / var(--ms-ratio, var(--golden)));
}
